figure.center_text {
    text-align: center;
}
.navbar {
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 0;
    padding-right: 0;
}
h2 {
    padding-top: 1em;
}
.scroll_x {
    overflow-x: scroll;
}